<%= render "shared/page_container" do %>
  <div class="max-w-md w-full mx-auto space-y-8 p-8 bg-white rounded-xl shadow-lg">
    <div class="text-center">
      <h2 class="mt-4 text-3xl font-extrabold text-gray-900">Edit Measurement</h2>
      <p class="mt-2 text-sm text-gray-600">Update <%= @child.first_name %>'s measurements</p>
    </div>

    <%= render "form", measurement: @measurement %>
  </div>
<% end %> 