.notification-enter {
  opacity: 0;
  transform: translateX(100%);
}

.notification-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.notification-exit {
  opacity: 1;
}

.notification-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.notification-progress {
  transition: width 5s linear;
} 